name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 24
        cache: 'npm'

    - name: Install dependencies
      run: npm ci # node_modules をクリーンインストール

    - name: Build project
      run: npm run build

    - name: Commit and Push Docs
      run: |
        git config --global user.name "yytths"
        git config --global user.email "hmdob.arch@gmail.com"
        if [ -n "$(git status docs --porcelain)" ]; then
          git add docs
          git commit -m "Update docs folder [GitHub Actions]"
          git push https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/yytths/bingo-nyarlathotep.git main
        else
          echo "No changes in docs folder. Skipping commit."
        fi
    - name: Trigger GitHub Pages Deployment
      run: |
        curl -X POST -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
        https://api.github.com/repos/yytths/bingo-nyarlathotep/pages/builds